body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:384px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:873px;
}
#u485 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:873px;
}
#u486 {
  position:absolute;
  left:2px;
  top:428px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487 {
  position:absolute;
  left:21px;
  top:150px;
  width:337px;
  height:620px;
}
#u487_input {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:620px;
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u488 {
  position:absolute;
  left:85px;
  top:118px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u489 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u490 {
  position:absolute;
  left:30px;
  top:111px;
  width:34px;
  height:34px;
}
#u491 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u492 {
  position:absolute;
  left:321px;
  top:112px;
  width:34px;
  height:34px;
}
#u493 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494 {
  position:absolute;
  left:21px;
  top:726px;
  width:341px;
  height:48px;
  overflow:hidden;
}
#u494_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u494_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u495 {
  position:absolute;
  left:50px;
  top:6px;
  width:36px;
  height:28px;
}
#u496 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u497 {
  position:absolute;
  left:56px;
  top:34px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u498 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u499 {
  position:absolute;
  left:221px;
  top:6px;
  width:36px;
  height:28px;
}
#u500 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u501 {
  position:absolute;
  left:217px;
  top:34px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u502 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
